.riddle-container {
    display: flex;
    position: fixed;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 30%
  }

  .text-riddle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Itim', cursive;
    font-style: bold;
    font-size: 14px;
    height: 10px;
  }
